<section class="main-header">
  <p id="notice"> <%= notice %> </p>
  <%= image_tag('top-image') %>
</section>

<section class ="main-header">
  <h1>Welcome TopPage</h1>
  <br>
  <%= "copygram" %>
</section>
