// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_index {
  height: auto;
  margin: auto;
  width: 70%;

  // width: 700px;
}

.user_profile {
  height: auto;
  // width: 100%;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 15px;

}

.user_name {
  padding: 20px;
  float: right;
}

.follow_form {
  float: right;
}
